<% if @user.errors.any? %>
  <div class="error_messages">
    <h2><%= pluralize(@user.errors.count, "error") %>  prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @user, url: wizard_path do |f| %>
  <h2>Where can we find you?</h2>
  <div class="field">
    <%= f.label :game_category %><br />
    <%= f.text_field :game_category %>
  </div>
  <div class="field">
    <%= f.label :game_title %><br />
    <%= f.text_field :game_title %>
  </div>
  <div class="actions">
          <%= f.submit "Continue" %>
  </div>
<% end %>