<div class="container">
  <div class="row justify-content-center align-items-center step-field">
    <div class="col-6">
      <h2><strong>どんなゲームをしていますか？</strong></h2><br>
      <%= form_for @user, url: wizard_path do |f| %>
        <div class="form-group">
          <%= f.label :game_category,"一番好きなゲームカテゴリは？" %><br />
          <div class="form-group">
              <%= f.fields_for :user_categories do |user_category| %>
                  <%= user_category.hidden_field :user_id %>
                  <%= user_category.collection_select :category_id, Category.all, :id, :name, class: 'form-control input-sm' %>
              <% end %>
          </div>
        </div>
        <div class="game_field form-group">
          <%= f.fields_for :games do |game| %>
            <%= f.label :title,"今プレイしているゲームは？" %>
            <%= render 'game_fields', f: game, class: 'form-control' %>
            <div class="links">
              <%= link_to_add_association '＋ゲームを追加', f, :games, class: "btn btn-info" %>
            </div>
          <% end %>
        </div>
        <div class="actions">
                <%= f.submit "登録!",class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">これで最後です！</div>
      </div>
    </div>
  </div>
</div>

