<div class="container">
	<div class="row">
		<div class="col-4">
		  <%= link_to users_path(game_category: "アクション") do %>
		    <%= image_tag "action.jpg",size:'250x250' %>
		  <% end %>
		  <p>jlaskjdfl;akjsdflkjasdfljk</p>
		</div>
		<div class="col-4">
		  <%= link_to users_path do %>
		    <%= image_tag "action.jpg",size:'250x250' %>
		  <% end %>
		</div>
		<div class="col-4">
		  <%= link_to users_path do %>
		    <%= image_tag "action.jpg",size:'250x250' %>
		  <% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
		</div>
		<div class="col-4">
		</div>
		<div class="col-4">
		</div>
	</div>
	<div class="row">
		<div class="col-4">
		</div>
		<div class="col-4">
		</div>
		<div class="col-4">
		</div>
	</div>
</div>