<div class="container-fluid">
  <div class="row">
  	<div class="col-2">
	  <div class="card position-fixed bg-dark" style="width: 14rem;">
		<%= image_tag (@user.profile_image),class: 'profile_image card-img-top' if @user.profile_image.attached? %>
	    <div class="card-body p-2">
		  <h5 class="card-title"><%= @user.name %></h5>
	      <section class="stats">
	        <%= render 'layouts/stats',user: @user %>
	      </section>
		  <% if @user.id == current_user.id %>
		    <%= link_to edit_user_path(@user),class: "btn btn-primary btn-block" do %>
		      <p class="mb-0">プロフィール編集 <i class="far fa-edit"></i></p>
		    <% end %>
		  <% else %>
		    <%= render 'layouts/follow_form', user: @user %>
		    <%= render 'layouts/talk_form', user: @user,room_id: @room_id,room: @room,entry: @entry,our_room: @our_room %>
		  <% end %>
	    </div>
	  </div>
    </div>
    <div class="col-8 offset-1">
	  <div class="card bg-dark">
	    <div class="card-body">
	      <h5><strong>【自己紹介】</strong></h5>
    	  <p class="card-text"><%= @user.introduction %></p>
    	</div>
	    <ul class="list-group list-group-flush">
	      <li class="list-group-item bg-dark">
	        <h5><strong>【好きなゲームカテゴリ】</strong></h5>
	          <p class="card-text">
                <% @user.categories.each do |category| %>
	      	      <%= category.name %>
	      	    <% end %>
	      	  </p>
	      </li>
	      <li class="list-group-item bg-dark">
	        <h5><strong>【プレイしているゲーム】</strong></h5>
			  <p class="card-text">
			    <small>
			      <% @user.games.each do |game| %>
			        #<%= game.title %>
			      <% end %>
			    </small>
			  </p>
	      </li>
	    </ul>
	  </div><br>
      <div id="posts">
      	<div class="post">
      	  <h5><%= @user.name %>さんの投稿</h5>
	      <% @user.posts.each do |post| %>
		    <div class="card post bg-dark shadow-lg mb-3">
		      <div class="media">
		        <a href="#" class="align-self-start mr-3">
		          <% if post.user.profile_image.attached? %>
			        <%= image_tag post.user.profile_image.variant(resize:'80x80').processed,style: 'border-radius: 50%;' %>
			      <% end %>
			    </a>
			    <div class="media-body">
			      <h5 class="mt-0"><%= post.user.name %></h5>
			      <p><%= post.post_content %>
				  <% if post.post_image.attached? %>
					<%= image_tag post.post_image.variant(resize:'300x300').processed %> <br>
			      <% end %>
				  <% if post.user_id == current_user %>
			        <%= link_to '削除', post_path(post), method: :delete, "data-confirm" => "削除しますか？" %></p>
			      <% end %>
			    </div>
		      </div>
		    </div>
	      <% end %>
	    </div>
      </div>
    </div>
  </div>
</div>