<div class="row">
  <aside class="col-2">
    <div class="card position-fixed bg-dark" style="width: 14rem;">
      <%= image_tag (@user.profile_image),class: 'profile_image card-img-top' if @user.profile_image.attached? %>
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
        <section class="stats">
          <%= render 'layouts/stats', user: @user %>
        </section>
        <% if @user.id == current_user.id %>
          <%= link_to edit_user_path(@user),class: "btn btn-primary btn-block" do %>
            <p class="mb-0">プロフィール編集 <i class="far fa-edit"></i></p>
          <% end %>
        <% else %>
          <%= render 'layouts/follow_form', user: @user %>
        <% end %>
      </div>
    </div>
  </aside>
  <div class="col-8 offset-1">
    <% if @users.any? %>
      <ul class="users follow">
        <div class="card-columns">
            <% @users.each do |user| %>
              <div class="card bg-dark" style="width: 18rem;">
                <% if user.profile_image.attached? %>
                  <%= image_tag user.profile_image,class: "card-img-top", alt:"プロフィール画像" %>
                <% else %>
                  <%= image_tag "no_image.jpg",class: "card-img-top",alt:"プロフィール画像" %>
                <% end %>
                <div class="card-body p-2">
                  <h5 class="card-title"><%= user.name %></h5>
                  <h6 class="card-subtitle mb-2 text-muted">プレイ頻度:<%= user.play_time %>
                  </h6>
                  <section class="stats">
                    <%= render 'layouts/stats',user: user %>
                  </section>
                  <p class="card-text">
                    <small>
                      <% user.games.each do |game| %>
                        #<%= game.title %>
                      <% end %>
                    </small>
                  </p>
                  <%= link_to 'プロフィール', user_path(user.id),class: 'btn btn-primary btn-block' %>
                  <p class="card-text"><small class="text-muted">最終ログイン日:<%= user.current_sign_in_at.strftime("%Y-%m-%d") %></small></p>
                </div>
              </div>
            <% end %>
        </div>
      </ul>
      <%= paginate @users %>
    <% end %>
  </div>
</div>