<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="card position-fixed bg-dark" style="width: 14rem;">
	    <%= image_tag (current_user.profile_image),class: 'profile_image card-img-top' if current_user.profile_image.attached? %>
		<div class="card-body p-2">
	      <h5 class="card-title"><%= current_user.name %></h5>
		</div>
		<div class="card-body p-2">
		  <section class="stats">
		    <%= render 'layouts/stats' %>
		  </section>
		</div>
		<div class="card-body p-2">
	      <%= link_to 'My page', user_path(current_user.id),class: "btn btn-primary btn-block" %>
		</div>
	  </div>
	</div>
	<div class="col-8 offset-1">
	  <table class="table table-dark table-striped table-hover">
	    <thead>
		  <tr>
			<th scope="col">My talk rooms</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
	      </tr>
		</thead>
		<tbody>
	      <% @anotherEntries.each do |e| %>
	        <tr>
		      <td style='width: 15%;'>
		        <%= image_tag (e.user.profile_image).variant(resize:'100x100').processed,style: 'border-radius: 50%;' if e.user.profile_image.attached? %>
		      </td>
			  <td>
			    <h3>
			  	  <%= e.user.name %>
			    </h3>
			  </td>
			  <td>
			    <%= link_to "Talk!",room_path(e.room.id),class: 'btn btn-success btn-lg btn-block' %>
			  </td>
	        </tr>
	      <% end %>
		</tbody>
	  </table>
	</div>
  </div>
</div>