<!DOCTYPE html>
<html>
  <head>
    <title>Withard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  </head>
  <body style="padding-top:4.5rem;">
    <div class="dark"></div>
    <%= video_tag "bg_universe2_07_720.mp4", autoplay: true, loop: true, muted: true, class: 'background-video' %>
    <div class="main">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <%= image_tag 'logo.png' %>
        <div class="collapse navbar-collapse" id="Navber">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(現位置)</span></a>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path,class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Log in", new_user_session_path,class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, method: :delete,class: 'nav-link' %>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
