<!DOCTYPE html>
<html>
  <head>
    <title>Withard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="dark"></div>
    <%= video_tag "bg_universe2_07_720.mp4", autoplay: true, loop: true, muted: true, class: 'background-video' %>
    <div class="main">
      <!-- <img src="images/jewellery.jpg" alt="Placeholder"> -->
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= yield %>
    </div>
  </body>
</html>
